body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    font-family: 'Arimo', sans-serif;
}

.calculator {
    height: 500px;
    width: 400px;

    display: flex;
    flex-direction: column;
    border: 0px solid gray;
    border-radius: 20px;
}

.display {
    background-color: #4f4f50;
    color: #eaeaea;

    display: flex;
    justify-content: flex-end;
    padding: 30px;

    font-size: 2rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.display-text {
    margin: 0;
}

.buttons {
    display: flex;
    flex: 1;
}

.non-operator-buttons {
    display: flex;
    flex-direction: column;

    flex: 1;
}

.row {
    display: flex;
    height: 100%;
}

.percentage-button, .plus-minus-button, .clear-button {
    background-color: #606061;
    color: #e7e7e7;
}

.clear-button-clicked {
    background-color: #7a7a7b;
}

.last-row {
    display: flex;
    height: 100%;
}

.button {
    border: 1px solid #4f4f50;
    /* stretch to take up as much horizontal space as possible */
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
}

/* if .operator isn't defined after .button, it won't override .button's width */
.operator {
    width: 100%;

    background-color: #f2a33c;
    color: #fdf1e1;
}

.operator-clicked {
    background-color: #fdf1e1;
    color: #f2a33c;
}

.number-button {
    background-color: #7a7a7b;
    color: #ebebeb;
}

.number-button-clicked {
    background-color: #9d9d9e;
}

.equals-button {
    border-bottom-right-radius: 20px;
}

.decimal-button, .equals-button {
    flex: 1;
}

.zero-button {
    /* doesn't align buttons perfectly if .calculator 
    is made a lot bigger or a lot smaller */
    flex: 2.02;
    border-bottom-left-radius: 20px;
}